/* Write your CSS here */

.team-matches-container {
  background-color: #a4261d;
  height: 100%;
  background-size: cover;
  padding: 40px 20px;
  color: #ffffff;
  font-family: 'Bree Serif';
}
.latest-matches-heading {
  font-size: 20px;
}
.team-banner {
  width: 100%;
}
.match-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
